<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIBezierPathAND CAShapeLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7BCB5E21E61983F00FB5AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7BCB5F61E61984000FB5AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7BCB6011E61984000FB5AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
